<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
   aria-labelledby="offcanvasWithBothOptionsLabel">
   <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Projects</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
   </div>
   <div class="offcanvas-body">

      <div class="projects-wrp">
         <div class="add-page">Add new page</div>
         <!-- <div class="projects">
            @for (project of projects; track $index) {
               <div>
                  <span>{{project.name}}</span>
               </div>
            }

         </div> -->
         <div class="pages">
            @for (page of pageService.allPagesSignal(); track $index) {
            <div (click)="onSelectPage(page.id, page.uuid)">{{page.name}}</div>
            }
         </div>
      </div>

   </div>
</div>